
<div class="field">
  <label class="label">{{label}}</label>

  <div class="control">
    <input
      class="input"
      [formControl]="control"
      [ngClass] = "{'is-danger': showErrors() }"
      />
  </div>

  <ng-container *ngIf = "showErrors()">
    <div class="help is-danger" *ngIf="control.errors.required">
      value is required!
    </div>
    <div class="help is-danger" *ngIf="control.errors.minlength">
      You typed {{control.errors.minlength.actualLength}}
      You need at least {{control.errors.minlength.requiredLength}} characters!
    </div>
    <div class="help is-danger" *ngIf="control.errors.maxlength">
      You typed {{control.errors.maxlength.actualLength}}
      No more than {{control.errors.maxlength.requiredLength}} characters!
    </div>

    <div class="help is-danger" *ngIf="control.errors.pattern">
      Invalid Format!
    </div>
  </ng-container>
</div>
